/* Dispositivos médios */
@media only screen and (min-width:788px) and (max-width: 979px) {
    /* Página principal */

    /* Produtos */
    .produtos-list li {
        height: 300px;
    }

    /* Qualidade */
    .qualidade:after {
        right: 66px;
    }

    .qualidade-list li {
        padding: 0 10px;
    }

    /* Footer */
    .footer-social-networks ul li a {
        padding: 6px;
    }

    /* Página de produtos */

    /* Produtos */
    .produto-item h2 {
        top: -150px;
    }

    .produto-icone {
        padding: 41px 0;
    }

    .produto-info p {
        font-size: 14px;
        line-height: 20px;
        padding: 20px 30px;
        height: 122px;
    }

    .produto-info ul li {
        width: 181px;
    }
}

/* Dispositivos móveis */
@media only screen and (max-width: 787px) {
    /* Página principal e gerais */
    .call-to-action {
        padding-top: 15px;
    }

    .introducao-paginas {
        margin-top: 0px;
    }

    /* Header */
    .header {
        position: relative;
        opacity: 1;
        padding-bottom: 0;
    }

    .header img {
        margin: 0 auto;
    }

    .header-nav {
        text-align: center;
        margin-top: 15px;
    }

    .header-nav ul li {
        margin: 5px;
    }

    .header-nav ul li a{
        border: 4px solid #000;
        width: 136px;
        display: block;
        float: left;
        padding: 10px 0;
    }

    .header-nav ul li a:hover {
        border-color: #FFF;
    }
    
    .header-nav ul li a.menu-ativo {
        color: #FFF;
        border-color: #FFF;
    }

    /* Introdução */
    .introducao {
        margin-top: 0;
        padding-top: 50px;
        background: url("../images/background-mobile.jpg") no-repeat center;
        background-size: cover;
    }

    .introducao h1 {
        font-size: 36px;
    }

    /* Portfólio */
    .portfolio-list li:last-child img {
        display: none;
    }
    
    /* Qualidade */
    .qualidade:after {
        display: none;
    }

    /* Quebra */
    .quebra {
        padding-top: 30px;
    }

    /* Footer */
    .footer {
        text-align: center;
    }

    .footer h3:after {
        margin: 6px auto 12px auto;
    }

    .footer-history {
        padding-right: 0px;
    }

    .footer-social-networks ul li:nth-child(3) {
        margin-right: 0px;
    }

    /* Copyright */
    .copyright {
        padding: 0;
    }

    .copyright p {
        padding-top: 20px;
    }

    /* Página – Sobre */

    /* Sobre */
    .sobre p{
        font-size: 14px;
        line-height: 25px;
        padding-right: 0px;
    }

    .sobre ul li{
        font-size: 14px;
        line-height: 25px;
    }

    /* Página de produtos */

    /* Produtos */
    .produto-item h2 {
        top: -110px;
        margin-bottom: -68px;
    }

    .produto-icone {
        padding: 41px 0;
    }

    .produto-info p {
        font-size: 14px;
        line-height: 20px;
        padding: 20px 30px;
        height: auto;
    }

    .produto-info ul li {
        width: 149px;
        font-size: 14px;
        line-height: 20px;
    }

    /* Formulário */

    .form {
        padding-right: 0px;
    }

    /* Página de portfólio */
    .portfolio-sessao-propria {
        padding-bottom: 20px;
    }

    /* Navegação – Slide */
    .js [data-slide-nav] {
        margin-top: 0;
    }

    /* Página de contato */
    .contato-form {
        padding-right: 0px;
        margin-bottom: 40px;
    }
}