/* Gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.btn {
    border: 3px solid #FEC63E;
    padding: 10px 30px;
    color: #FEC63E;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.subtitulo {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 10px auto;
}

.call-to-action {
    clear: both;
    text-align: center;
    padding-top: 35px;
}

.call-to-action p {
    margin-bottom: 25px;
}

/* Header */

.header {
    width: 100%;
    /* Sempre vai se manter no início */
    position: fixed;
    top: 0;
    background-color: #FEC63E;
    padding: 15px 0;
    z-index: 10;
    height: 92px;
}

.header-nav {
    text-align: right;
}

.header-nav ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 22px;
}

.header-nav ul li a{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header-nav ul li a:hover{
    color: #FFF;
}

.logo:hover {
    background-color: #FFF
}

/* Introdução */

.introducao {
    width: 100%;
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    height: 380px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-introducao {
    margin: 0 auto;
    color: #FFF;
    margin-bottom: 50px;
}

.quote-introducao p {
    font-style: italic;
}

/* Adicionar um elemento antes e depois */
.quote-introducao p:before, .quote-introducao p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFF;
    margin: 15px auto;
}

.quote-introducao cite {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    initial-letter: 1em;
}

.introducao .btn:hover {
    color: #FFF;
    border-color: #FFF;
}

/* Produtos */

.produtos {
    padding: 60px 0;
}

/* Cores específicas do subtítulo para a sessão de produtos */

.produtos .subtitulo {
    color: #000;
    margin-bottom: 40px;
}

.produtos .subtitulo:after {
    background: #000;
}

.produtos-list-img {
    background: #000;
    padding: 20px;
}

.produtos-list li {
    background: #FEC63E;
    text-align: center;
}

.produtos-list li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 10px;
}

.produtos-list li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;
}

.produtos-list li p{
    padding: 10px 20px 20px 20px;
}

.produtos .btn:hover {
    color: #000;
    border-color: #000;
}